<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="container">
    <div class="recomendaciones">
<div class="texto1">
        <h2>R e c o m e n d a c i o n e s</h2>

        <p>El mejor consejo es que sigas al pie de la letra las pautas que te de tu tatuador. 
            Debes cubrirlo bien y curarlo durante varios días. Aun así, aquí os dejamos algunas 
            recomendaciones que podéis seguir:
        </p>
    </div>

    <div class="consejospadre">
    <div class="iconos">
        <div class="i1"><i class="fa-solid fa-soap" style="color: #1db954;"></i></div>
        <div class="i2"><i class="fa-solid fa-pump-medical" style="color: #1db954;"></i></div>
        <div class="i3"><i class="fa-solid fa-shirt" style="color: #1db954;"></i></div>
        <div class="i4"><i class="fa-solid fa-dumbbell" style="color: #1db954;"></i></div>
        <div class="i5"><i class="fa-sharp fa-solid fa-sun" style="color: #1db954;"></i></div>
        <div class="i6"><i class="fa-solid fa-hand-point-up" style="color: #1db954;"></i></div>
        <div class="i7"><i class="fa-solid fa-umbrella-beach" style="color: #1db954;"></i></div>
        <div class="i8"><i class="fa-solid fa-shower" style="color: #1db954;"></i></div>
    </div>
        <div class="consejos">
           <p><span class="MANTENERELAREA">MANTENER EL ÁREA</span> <span class=" LIMPIA ">&nbsp; LIMPIA</span>. Debes lavar la zona con agua tibia y jabón neutro, sécala siempre sin frotar. </p>
            &nbsp;
            <p><span class="UTILIZAR">UTILIZAR</span> <span class=" CREMAHIDRATANTE ">&nbsp; CREMA HIDRATANTE</span>. Con la piel hidratada, evitarás irritación y picores innecesarios. </p>
            &nbsp;
           <p><span class="EVITARLAS">EVITAR LAS</span> <span class="PRENDAS">&nbsp; PRENDAS AJUSTADAS</span>. Durante la cicatrización, si la ropa está en contacto con la herida es recomendable que la protejas con un plástico.  </p>
            &nbsp;
            <p><span class="EVITAR">EVITAR HACER</span> <span class="DEPORTE">&nbsp; DEPORTE</span>. El sudor puede irritar tu piel, causarte picor y dañar el tatuaje. </p>
            &nbsp;
           <p><span class="PROTEGERLO">PROTEGERLO DEL</span> <span class="SOL">&nbsp; SOL</span>. Los rayos UVA pueden quemar tu piel herida y el color del dibujo puede perder intensidad. </p>
            &nbsp;
           <p><span class="NO">NO RASCAR</span> <span class="ZONA">&nbsp; LA ZONA</span>. Aunque cueste, puedes provocarte una infeccióndañar el dibujo o que tu tatuaje se vuelva opaco.</p>
            &nbsp;
           <p><span class="EVITAR">EVITAR EL</span> <span class="VERANO">&nbsp;VERANO</span>. Tu piel esta más desprotegida frente a roces o bacterias y el riesgo de infección es mayor. </p>
            &nbsp;
            <p><span class="APLAZA">APLAZA TUS</span> <span class="BAÑOS">&nbsp;BAÑOS</span>.  Retrasa unos dias los baños en playas, psicinas y jacuzzis hasta que la piel del tatuaje haya cicatrizado por completo. </p>
        </div>
    </div>

    </div>
</div>