<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container">
    <div class="foto"> <img src="/assets/homee/5.png" alt=""></div>
    <div class="previ">Previsualización de la publicación</div>
    <div class="confi">¿Confirmar?</div>
    <div class="botones">
        <button><i class="fa-solid fa-xmark" style="color: #838383;" ></i></button>
        <button><i class="fa-solid fa-check" style="color: #1db954;"></i></button>

    </div>


</div>