
<!-- <div class="fondo">
    <div class="margenY">
        <div class="exit"> <img src="./assets/delete.png" alt="" routerLink="/home" routerLinkActive="active"></div>
    </div>
    <div class="centro">
        <div class="line1">
            <div class="profileimg"><img src="./assets/alba.png" alt=""></div>
        </div>
        <div class="margenX">
            <div class="margedit"></div>
            <div class="newPhoto"><img src="./assets/camara.png" alt=""></div>
        </div>
     <div class="line2">
        <label class="name-label-nombre">Nombre</label>
        <input type="text" placeholder=" " />
        <label class="name-label-apellidos">Apellidos</label>
        <input type="text" placeholder=" " />
        <label class="name-label-email">Email</label>
        <input type="text" placeholder=" " />
        <label class="name-label-contraseña">Contraseña</label>
        <input type="text" placeholder=" " />
        <label class="name-label-contraseña2">Confirma contraseña</label>
        <input type="password" placeholder=" " />
        <div class="check">
            <a routerLink="/profile-tatuador-propia" routerLinkActive="active"><img src="./assets/Vector.png" alt=""></a></div>
     </div>
    </div>
    <div class="margenY"></div>
</div> -->