@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:wght@100;200;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    max-width: 100vh;
    min-height: auto;
}

:root {
    --negro: #000000;
    --gris1: #212121;
    --gris2: #838383;
    --gris3: #b3b3b3;
    --principal: #1db954;
    --gristablon: #3a3a3a;
}

.opinion{
    background-color: var(--gris1);
    display:flex;
    flex-direction: column;
    align-items: center;

    min-height: 750px;
    margin-bottom: 60px;
}

/* //////////////////// */

.opinion .text{
    color: white;
    margin-top: 70px;
    text-align: center;
    height: 60px;
    width: 200px;
    font-size: 20px;
}

.opiniones{
    color: var(--principal);
    font-weight: 100;

}


/* //////////CARD/////////// */

.card {
    width: 350px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(29,185,84, 0.1));
    box-shadow: 0 1px 25px rgba(0,0,0,0.2);
    top: 20%;
    /* left: 50%; */
    padding: 12px 10px;
    border-left: 3px solid var(--gris2);
    transition: transform 0.7s ease;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
}

.card:hover {
 transform: scale(1.1);
}
  
  .nombre{
    color: white;
    font-weight:bolder;

  }

  .text2{
    color: var(--gris3);
  }

  .card2{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .card2 .nombre{
    margin-left: 15px;
  }

  .perfil img{
    height: 50px;
    width: 60px;
    border-radius: 6px;
    object-fit: cover;
  }

  .perfil img{
    height: 40px;
  }

  input{
    margin-top: 15px;
    width: 330px;
    height: 80px;
    border: 1px solid var(--gris3);
    border-radius: 3px;
    background-color: var(--gris1);
    padding: 10px;
    padding-bottom: 50px;

    color: var(--blanco);
    font-size: 18px;

    display: flex;
    justify-content: center;
  }

  button{
    color: var(--gris3);
    background-color: var(--gris1);
    height: 30px;
    width: 60px;
    border-radius: 5px;
    border: 1px solid var(--gris3);
    margin-left: 270px;
    margin-top: 10px;

    transition: transform 0.2s ease;
 }

 .btn_:hover {
  transform: scale(1.1);
  color: var(--principal)
}

.atras{
  width: 25px;
  position: absolute;
  top:65px;
  left: 25px;

}

.estrellas img {
  margin-right: 5px; 
  height: 20px;
}

/* //respuesta del tatuador */
.respuesta-tatuador {
  color: var(--gris3);
  margin-top: 10px;
  padding-top: 6px;
  margin-left: 20px;
  border-top: 1px solid var(--gris2);
}

.img-responder {
  height: 20px;
  width: 20px;
  margin-left: 300px;
  

}