<div class="fondo">
  <div class="cajaNueva">
    <div class="line1">
      <div class="profileimg">
        <img class="photo" [src]="userService.usuarioSeleccionado.photo" alt="">
      </div>
      <div class="editar">
        <div>
          <button class="bedit" type="button"  (click)="toggleFollow()">
            <img [src]="userService.usuarioSeleccionado.seguido? './assets/fondoCorazon.png' : './assets/corazon.png'">
          </button>
        </div>
      </div>
      <div class="valoracion">
        <a routerLink="/estrellas">
          <div class="star-rating">
            <span class="stars-outer">
              <span class="stars-inner">
                <!-- Primero mostramos la estrella vacía con el borde -->
                <i class="empty-star"></i>
                <!-- Luego mostramos las estrellas según la puntuaciónMedia -->
                <i [ngClass]="starClasses[i]" *ngFor="let star of [0, 1, 2, 3, 4]; let i = index"></i>
              </span>
            </span>
          </div>
        </a>
        <div class="puntuacion-media" *ngIf="puntuacionMedia !== undefined">{{ puntuacionMedia.toFixed(1) }} de 5</div>
      </div>
    </div>
  </div>
  <div class="line2">
    <div class="name">
      <h3>{{ userService.usuarioSeleccionado.nickname }}</h3>
    </div><br>
    <div class="descrip">
      <p>{{ userService.usuarioSeleccionado.descripcion }}</p>
    </div>
    
    <div class="emojis">
      <div class="tienda">
        <a (click)="verTienda()">
          <p ><br></p>
        </a>
      </div>
      <div class="chat" (click) ="crearChat()">
        <!-- <a  routerLink="/conversacion-chat"> -->
            <!-- <p routerLinkActive="active"> <br></p></a> -->
      </div>
    </div>
  </div>
  <div class="artista-card" *ngFor="let photo of userService.usuarioSeleccionado.publicaciones">
    <div class="foto">
      <img [src]="photo.photo" alt="Foto">
    </div>
  </div>
</div>